.App {
  text-align: center;
}

.title{
  text-align:center;
  color: #e9e8e8;
  margin-top:3rem;
  font-size:3rem;
}

#drum-machine {
  
  background: #e9e8e8;
  width:30%;
  height:50vh;
  margin: 0 auto;
  margin-top: 7rem;
  padding:1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  
}
  
  
#drum-pads{
  width:100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;

}

.drum-pad{
  background: rgba(0, 0, 0, 0.95);
  -webkit-box-shadow: 6px -6px 4px -5px rgba(0,0,0,1);
  -moz-box-shadow: 6px -6px 4px -5px rgba(0,0,0,1);
  box-shadow: 6px -6px 4px -5px rgba(0,0,0,1);
  box-shadow: 6px -1px 5px -6px rgba(0,0,0,1);
   color: #fefefe;
   text-align:center;
   padding:0.9rem;
   width:25%;
   margin:0.2rem;
   border-radius: 15px;
   cursor:pointer;
}

.drum-pad:hover, .drum-pad:active, .drum-pad:focus{
background: rgb(75,75,75);
background: linear-gradient(90deg, rgba(75,75,75,1) 0%, rgba(115,114,114,1) 35%, rgba(184,182,182,1) 100%);
color: rgba(0, 0, 0, 0.95);
}

#display{
  width:15%;
  margin:0 auto;
  background: rgba(0, 0, 0, 0.95);
   color: #fefefe;
   font-size: 1.4rem;
   text-align:center;
   padding: 1.2rem 1rem;
   border-radius: 15px;
   border: 3px solid #e9e8e8;
   margin-top:1.5rem;

}

@media only screen and (max-width: 1432px) {
  #drum-machine {
    flex-direction: column;
    width:90%;
    height:auto;
    margin-top:0.5rem;
    justify-content: stretch;
  }
  #display{
    width:30%;
    font-size: 1.2rem;
  }
  #drum-pads{
    width:100%
  }
  .drum-pad{
    width:20%;
  }

}